.product_backlog_list {
  width: 90vw;
  margin: 0 auto;
}

.product_backlog_list_header {
  padding: 24px 0;
  @include flex(start, space-between);

  @media (max-width:820px) {
    align-items: end;
  }

  @media (max-width:414px) {
    flex-direction: column;
    align-items: center;
  }

  .character {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/PO_sm.png?raw=true', cover);
    @include size(180px, 152px);

    @media (max-width:820px) {
      @include size(110px, 150px);
      background-size: 100%;
      margin-bottom: 0;
    }

    @media (max-width:414px) {
      @include size(180px, 150px);
      background-size: cover;
    }
  }

  .text {
    width: 1044px;
    background: $pink30;
    padding: 16px 32px;
    @include flex(center, start);

    @media (max-width:820px) {
      width: 550px;
      flex-direction: column;
    }

    @media (max-width:414px) {
      width: 100%;
      padding: 16px;
    }

    h4 {
      line-height: 2;
    }
  }

  .jira_logo {
    @include size(160px, 64px);
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/jira_logo%201.png?raw=true', 100%);

    @media (max-width:820px) {
      align-self: end;
    }
  }
}

.product_backlog_list_body {
  display: flex;

  @media (max-width:820px) {
    flex-wrap: wrap;
  }

  .sort {
    background: $gray600;
    padding: 16px 18px;
    position: relative;

    @media (max-width:820px) {
      width: 8%;
    }

    @media (max-width:414px) {
      width: 18%;
    }

    li {
      // 文字垂直
      writing-mode: vertical-rl;
      // 文字轉向 > 朝右
      text-orientation: sideways-right;
      // 文字翻轉(左右顛倒、上下顛倒)
      transform: scale(-1, -1);

      &:last-child {
        position: absolute;
        bottom: 16px;
      }
    }
  }

  .dropbox {
    background: $background10;
    width: 50%;

    // ul {
    //   @media (max-width:414px) {
    //     padding: 0 8px;
    //   }
    // }

    li {
      height: 90px;

      @media (max-width:414px) {
        margin-bottom: 10px;
      }

    }
  }

  .undone_dropbox {
    @media (max-width:820px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .done_dropbox {
    @media (max-width:820px) {
      width: 92%;
    }

    @media (max-width:414px) {
      width: 82%;
    }
  }

  .title {
    padding: 8px;
    @include flex(center, start);

    @media (max-width:414px) {
      flex-direction: column;
    }

    h3 {
      margin-right: 16px;
    }
  }

  .undone {
    position: relative;
    @media (max-width:414px) {
      @include flex(center,center);
      flex-wrap: wrap;
    }
    li {
      @media (max-width:414px) {
        // 製作跟 done 的 item 一樣尺寸
        width: 73.8%;
      }
      &:nth-child(1) {
        .undone_item {
          top: 20px;
          left: 80px;
        }
      }

      &:nth-child(2) {
        .undone_item {
          top: 130px;
          left: 260px;
        }
      }

      &:nth-child(3) {
        .undone_item {
          left: 30px;
        }
      }

      &:nth-child(4) {
        .undone_item {
          top: 250px;
          left: 250px;
        }
      }
      
    }

    .undone_active {
      div {
        border-color: #fff;
        background: $pink;
      }
    }
  }

  .done {
    @include flex-center;
    flex-wrap: wrap;
    padding: 8px 0;

    li {
      width: 90%;
      margin: 8px 0;
      border: 8px dashed $gray500;

    }

    .done_active {
      border-color: #fff;
    }

  }

  .have_item {
    position: absolute;
    height: 90px;
    padding: 8px 16px;
    border: 8px solid $pink;
    @include flex(start, center);
    flex-direction: column;

    @media (max-width:414px) {
      position: static;
    }

    h4,
    h5 {
      white-space: nowrap;
      @media (max-width:414px) {
        white-space: normal;
        font-size: 18px;
      }
    }

    h5 {
      font-size: 12px;
    }
  }

}