.product_backlog_list {
  padding-top: 24px;
}

.product_backlog_list_header {
  padding: 24px 0;
  @include flex(start, space-between);

  @media (max-width:820px) {
    align-items: end;
  }

  @media (max-width:414px) {
    flex-direction: column;
    align-items: center;
  }

  .character {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/PO_sm.png?raw=true', cover);
    @include size(180px, 152px);

    @media (max-width:820px) {
      @include size(110px, 150px);
      background-size: 100%;
      margin-bottom: 0;
    }

    @media (max-width:414px) {
      @include size(180px, 150px);
      background-size: cover;
    }
  }

  .text {
    width: 1044px;
    background: $pink30;
    padding: 16px 32px;
    @include flex(center, start);
    position: relative;

    @media (max-width:820px) {
      width: 550px;
      flex-direction: column;
      padding: 16px 32px 40px;
    }

    @media (max-width:414px) {
      width: 100%;
      padding: 16px 16px 80px;

    }

    h4 {
      line-height: 2;
    }
  }

  .jira_logo {
    @include size(160px, 64px);
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/logo_jira.png?raw=true', 100%);
    position: absolute;
    right: 32px;
    opacity: 0;
    animation: show 1s 10s forwards;
    @media (max-width:820px) {
      bottom: 16px;
    }
    
  }
}

.product_backlog_list_body {
  display: flex;

  @media (max-width:820px) {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .sort {
    background: $gray600;
    padding: 16px 18px;
    position: relative;

    @media (max-width:820px) {
      width: 8%;
    }

    @media (max-width:414px) {
      width: 18%;
    }

    li {
      // 文字垂直
      writing-mode: vertical-rl;
      // 文字轉向 > 朝右
      text-orientation: sideways-right;
      // 文字翻轉(左右顛倒、上下顛倒)
      transform: scale(-1, -1);

      &:last-child {
        position: absolute;
        bottom: 16px;
      }
    }
  }

  .dropbox {
    background: $background10;
    width: 50%;

    li {
      height: 90px;

      @media (max-width:414px) {
        margin-bottom: 10px;
      }

    }
  }

  .undone_dropbox {
    @media (max-width:820px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .done_dropbox {
    @media (max-width:820px) {
      width: 92%;
    }

    @media (max-width:414px) {
      width: 82%;
    }
  }

  .dragbox {

    &_undone {
      li {
        @media (max-width:414px) {
          // 製作跟 done 的 item 一樣尺寸
          width: 73.8%;
        }
      }

      //li
      &_active {
        @include drag(#fff, $pink, #fff);
      }

      // &_item
      .dragbox_item {

        &:nth-child(1) {
          .dragbox_undone_item {
            top: 20px;
            left: 80px;
          }
        }

        &:nth-child(2) {
          .dragbox_undone_item {
            top: 130px;
            left: 260px;
          }
        }

        &:nth-child(3) {
          .dragbox_undone_item {
            left: 30px;
          }
        }

        &:nth-child(4) {
          .dragbox_undone_item {
            top: 250px;
            left: 250px;
          }
        }

      }
    }

    // div
    &_box {
      height: 90px;
    }

    // div
    &_have_item {
      border: 8px solid $pink;
    }

    &_done {
      li {
        @include done_dash_border;
      }

      // li
      &_active {
        border-color: #fff !important;
      }
    }
  }
}