.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24, 30, 42, .8);

  &_body {
    @include position-center(fixed);
    text-align: center;

    .character {
      @include size(320px, 264px);
      background-size: cover;
      margin: 0 auto;
    }

    .text {
      padding: 36px 0 32px;

      h3 {
        white-space: nowrap;
        line-height: 2;

        @media (max-width:820px) {
          font-size: 32px;
        }

        @media (max-width:414px) {
          font-size: 24px;
          white-space: normal;
        }
      }
    }
  }
}