.loading {
  @include position-center(fixed);
  @include size(100px,200px);
  animation: rocket .3s infinite;
}

.star {
  position: absolute;
  @include size(0px,0px);
  @include star;
  animation: twinkle 2s infinite;
}

.star::before {
  @include star_pseudo(72deg);
}

.star::after {
  @include star_pseudo(-72deg);
}

@keyframes rocket {
  0% {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/rocket/Rocket0.png?raw=true', cover);
  }

  100% {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/rocket/Rocket1.png?raw=true', cover);
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}