.sprint_backlog_list {
  padding-top: 24px;
  @media (max-width:414px) {
    padding: 24px 0 12px;
  }

  &_body {
    @include flex-justify-content-space-between;

    @media (max-width:820px) {
      flex-wrap: wrap;
    }
  }

  .dropbox {
    background: $background10;
    width: 49%;
    margin-bottom: 32px;

    @media (max-width:820px) {
      width: 100%;
    }

  }

  .dragbox {
    padding: 16px;

    &_item {
      height: 116px;
    }

    &_have_item {
      border: 8px solid $yellow;
    }

    &_undone {
      @media (max-width:820px) {
        min-height: 300px;
      }

      // li
      .dragbox_item {
        @media (max-width:414px) {
          width: 90%;
          margin-bottom: 10px;
        }

        &:nth-child(1) {
          .dragbox_undone_item {
            top: 26px;
            left: 60px;
          }
        }

        &:nth-child(2) {
          .dragbox_undone_item {
            top: 150px;
            left: 260px;
          }
        }

        &:nth-child(3) {
          .dragbox_undone_item {
            top: 250px;
            left: 30px;
          }
        }

        &:nth-child(4) {
          .dragbox_undone_item {
            top: 350px;
            left: 250px;
          }
        }

      }

      // div
      .dragbox_box {
        height: 116px;
      }
    }

    &_active {
      @include drag(#fff, $yellow, $gray700);

      .point {
        color: $gray700  !important;
      }

      .progress {
        background: $gray700  !important;
      }
    }

    .point_bar {
      @include flex(center, start);
      margin-top: 8px;
      align-self: start;
    }

    .point {
      color: $yellow;
      font-size: 12px;
      margin-right: 2px;
    }

    .progress {
      @include size(8px, 8px);
      background: $yellow;
      margin: 0 2px;
    }
  }

  .title_undone {
    padding: 16px 16px 24px;

    @media (max-width:414px) {
      padding: 16px 16px 0;
    }
  }

  .title_done {
    @include flex(end, space-between);
    padding: 16px;

    @media (max-width:414px) {
      flex-direction: column;
    }

    h4 {
      color: $yellow;
      font-size: 12px;
    }
  }

  .progress_bar {
    display: flex;

    li {
      margin-right: 8px;
      @include size(100%, 32px);

      @media (max-width:414px) {
        @include size(100%, 16px);

      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

}