@mixin position-center($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin image($url, $size) {
  background-image: url($url);
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin star() {
  border-color: white transparent transparent transparent;
  border-width: 4.49px 6.18px;
  border-style: solid;
}

@mixin star_pseudo($rotate) {
  content: '';
  display: block;
  position: absolute;
  left: -6.18px;
  top: -4.49px;
  @include star;
  transform: rotate($rotate);
  transform-origin: 50% 22.5%;
}

@include size($w,$h){
  width: $w;
  height: $h;
}