@mixin position-center($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-centerX($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}
@mixin position-centerY($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin image($url, $size) {
  background-image: url($url);
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin star {
  border-color: white transparent transparent transparent;
  border-width: 4.49px 6.18px;
  border-style: solid;
}

@mixin star_pseudo($rotate) {
  content: '';
  display: block;
  position: absolute;
  left: -6.18px;
  top: -4.49px;
  @include star;
  transform: rotate($rotate);
  transform-origin: 50% 22.5%;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin done_dash_border {
  border: 8px dashed $background20;
}

@mixin drag($bd, $bg, $tc) {
  border: 8px solid $bd !important;
  background: $bg !important;
  box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.32);

  h4,
  h5 {
    color: $tc !important;
  }


}

@mixin sprint_list_done_left_box($l, $have_next) {
  @include size(258px, 86.59px);
  @include done_dash_border;
  bottom: 25px;
  left: $l;

  @if($have_next) {
    &::after {
      content: '';
      position: absolute;
      left: 258px;
      top: 15px;
      @include size(48px, 40px);
      @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/sprint/right.png?raw=true', cover);
    }
  }
}

@mixin retro_active {
  .arrow {
    &::after {
      @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/sprint/right.png?raw=true', 100%);
    }
  }

  .content {
    color: $yellow;
  }
}

@mixin character {
  .po_image {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/PO.png?raw=true', cover);
  }

  .sm_image {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/SM.png?raw=true', cover);
  }

  .rd_image {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/RD.png?raw=true', cover);
  }
  .tica_image {
    @include image('https://github.com/IreneLee18/f2e-4th-week3/blob/master/src/style/image/character/Tica.png?raw=true', cover);
  }
}