$primary: #0693E3;
$pink: #FF52A5;
$green: #7CFF01;
$yellow: #FFF205;
$background: #181E2A;
$background10: #2F343F;
$background20: #464B55;
$gray700: #454545;
$gray600: #5F5F5F;
$gray500: #999999;
$gray400: #AAAAAA;
$gray300: #D0D0D0;
$gray200: #E3E3E3;